{% load i18n %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}


<!doctype html>
<html lang="en">
  {% include 'includes/head.html' %}
  <body class="min-vh-100 d-flex flex-column">
    <header>
      {% include 'includes/nav.html' %}
    </header>
    {% bootstrap_messages %}
    <main class="flex-grow-1">
      <div class="container-lg mt-3">
        <h1>{% block title %}{% endblock %}</h1>
        {% block content %} {% endblock %}
      </div>
    </main>
    {% include 'includes/footer.html' %}
  </body>
</html>